* {
    font-family: 'Open Sans', sans-serif;
}

article.paper {
    background: white;
    margin: 3em 0 5em;
    padding: 3em;
    box-shadow: 0 1px 3px #999;
}

article.paper h2 {
    text-align: center;
    padding: 0 0 2em 0;
}

article.paper h2:after{
    content: "";
    border-bottom-style: solid;
    border-bottom-width:2px;
    display:block;
    width: 160px;
    margin: 1em auto;
}

article.paper p.lead::first-letter {
    font-size: 2em;
}