$body-bg: material-color('blue-grey', '50');
$navbar-default-bg: material-color('blue-grey', '500');
$navbar-default-color: material-color('blue-grey', '50');
$navbar-default-link-color: material-color('blue-grey', '50');
$navbar-default-brand-color: material-color('blue-grey', '50');