@import "../../../node_modules/sass-material-colors/sass/sass-material-colors";
@import "../../../node_modules/sass-material-colors/sass/sass-material-colors-placeholders";
@import "../../../node_modules/sass-material-colors/sass/sass-material-colors-classes";
@import "flat_ui_colours";
@import "colours";
@import "variables";
@import "../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../../../node_modules/font-awesome/scss/font-awesome";
@import "../../../node_modules/sweetalert/dev/sweetalert";
@import "../../../node_modules/select2/src/scss/core";
@import "../../../node_modules/select2-bootstrap-css/lib/select2-bootstrap.";
@import url('http://fonts.googleapis.com/css?family=Open+Sans');
